.grid-item-login > div > .spotlight {
  > *, > form > * {
    margin-bottom: 15px;
  }

  > form > button {
    position: relative;
    span > .MuiCircularProgress-indeterminate {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}