.terminal-window {
  background: black;
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;
  transition: height .2s;

  .terminal-item {
    font-size: 15px;
    padding: 5px 15px;
  }
}