.terminal-window {
  display: flex;
  flex-direction: column;
  background: black;
  height: 100%;
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;

  .terminal-item {
    font-size: 15px;
    padding: 5px 15px;
  }
}