.popover-tasks > div {
  padding: 10px 0px 10px 5px;
  min-width: 280px;

  .popover-tasks-list {
    padding-right: 95px;
  }

  > span {
    text-align: center;
    padding-right: 5px;
    display: block;
  }
}