.grid-item-home .paper-project-selector {
  display: flex;
  flex-direction: column;
  position: relative;

  hr {
    margin: {
      top: 5px;
      bottom: 5px;
    };
  }

  .project-selector-scripts {
    display: flex;
    align-items: center;

    > p:first-child {
      margin-right: 10px;
    }
  }

  .project-selector-projects {
    flex-grow: 1;
    overflow: auto auto;
  }

  .project-selector-fabs {
    position: absolute;
    bottom: 10px;
    right: 10px;

    > * {
      margin-left: 10px;
    }
  }
}

.mui-vtable {
  .mui-vtable-column-favicon > div,
  .mui-vtable-row .mui-vtable-cell-header-favicon {
    &:last-child { padding: 3px; }
  }
}