.preset-add-dialog {
  .preset-add-dialog-stepper {
    padding: 5px 0px;
  }

  .preset-add-dialog-select-title {
    margin-bottom: 10px
  }

  .preset-add-dialog-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: {
      top: 10px;
      bottom: -10px;
    }

    .preset-add-dialog-result {
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}