#page-header {
  position: relative;

  a, svg {
    color: black;
  }

  .page-header-logo {
    margin-right: 5px;
    user-select: none;
    pointer-events: none;
  }

  > div > a {
    svg {
      margin: {
        top: 10px;
        bottom: 10px;
        right: 5px;
      }
    }

    > span > span { display: none; }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      border-top: 4px solid #21252a;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: bottom center;
      transition: all .2s;
    }

    &.active::after {
      opacity: 1;
      transform: scaleY(1) scaleX(0.8);
    }
  }
}

@media (min-width: 780px) {
  #page-header {
    .page-header-logo {
      position: absolute;
      left: 0;
      right: 0;
      widtH: 0;
      font-size: 1.4em;
      margin: {
        left: auto;
        right: auto;
      };
    }

    > div > a {
      &.active::after {
        transform: scaleY(1);
      }

      > span > span {
        display: initial;
      }
    }
  }
}
