.paper.paper-preset-selector {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  padding: {
    top: 15px;
    bottom: 15px;
  }

  > * {
    margin-bottom: 10px;
    &:last-child { margin-bottom: 0; }
  }
  > h5 { margin-bottom: 0; }

  .preset-selector-scripts {
    > span, .preset-selector-scripts-chip {
      margin-right: 10px;
      &:last-child { margin-right: 0; }
    }
  }

  .preset-selector-presets {
    flex-grow: 1;
  }

  > .preset-selector-fabs {
    position: absolute;
    right: 20px;
    bottom: 15px;

    > * {
      margin-right: 10px;
      &:last-child { margin-right: 0; }
    }
  }
}

.mui-vtable {
  .mui-vtable-column-favicon > div,
  .mui-vtable-row .mui-vtable-cell-header-favicon {
    &:last-child { padding: 3px; }
  }
}