.grid-item-task > div > div {
  &.spotlight {
    &.spotlight-task-error, &.spotlight-task-success {
      opacity: 1;
      > a, > button {
        margin-top: 5px;
      }
    }

    a, button {
      margin-top: 15px;
      svg { margin-right: 10px; }
    }
  }
}

.task-dialog-actions > button svg {
  margin-right: 10px;
}