@import '../variables.scss';
.paper.paper-terminal {
  padding: 0;
  position: absolute;
  width: calc(100% - 30px);
  bottom: 0;

  > header {
    height: $terminal-header-height;
    cursor: row-resize;
    user-select: none;
  }
}