@import '../variables.scss';

html, body, #root, .content {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px 15px;
  max-height: 100%;
}

.fill-space { flex-grow: 1 }

.paper {
  padding: 10px 15px;

  &.paper-window {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > header {
      display: flex;
      align-items: center;
      padding: 6px 15px;

      > .spacing { flex-grow: 1; }
      > svg { margin-right: 10px; }
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (min-width: 600px) {
  .content {
    max-height: calc(100vh - #{$terminal-header-height + 64px});
  }
}