html, body, #root, .content {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px 15px;

  .fill-space { height: 100%; }
}

.paper {
  padding: 10px 15px;
}