@import '../variables.scss';
.paper.paper-config.paper-config-editor {
  padding: 10px 15px;
  
  > form {
    padding: 15px 0;

    .config-editor-grid-form {
      display: flex;
      flex-direction: column;
      margin: 0;

      > * {
        margin-bottom: 15px;
        &:last-child { margin-bottom: 0; }
      }
    }

    .config-editor-grid-buttons .config-editor-button {
      float: right;
      margin-left: 10px;
      &:last-of-type { margin-left: 0; }
      svg { margin-right: 5px; }
    }
  }
}

@media (min-width: 600px) {
  .paper.paper-config {
    max-height: 100%;
    overflow: auto;
  }
}